
html, body {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-family: 'Muli', sans-serif;
}
.container {
	width: 100%;
	max-width: 1600px;
	height: auto;
	margin: 0 auto;

}
.header {
	font-size: 2.5em;
	text-align: center;
	padding: 1.25em 0;
}
#scrollingText
{
	width: 500px;
	height: 1.25em;
	border: solid 1px #ccc;
	position: relative;
	padding: .15em 0;
	background-color: #2d3436; 
	margin: 0 auto;
-webkit-box-shadow: 0px 0px 27px 5px rgba(204,204,204,0.67); 
box-shadow: 0px 0px 27px 5px rgba(204,204,204,0.67);
}
#scrollingText div.scrollableArea p
{
	display: block;
	float: left;
	margin: 0;
	padding: 2px 12px;
	font-family: 'Lora', serif;
	font-size: 16px;
	line-height: 16px;
	font-weight: 600; 
	background-color: #2d3436; 
	color: #f7f1e3; 
	white-space: nowrap;
}

div.scrollWrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div.scrollableArea
{
	position: relative;
	width: auto;
	height: 100%;
}